.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
        height: 3rem;
    }
    height: 4rem;
}

.logoContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    top: 50%;
    transform: translate(0, -50%);
    height: 60%;
    width: fit-content;
}

.icon {
    width: auto;
    margin: 2.4%;
}

.logo {
    width: auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin-right: 2rem;
}

.ul {
    @media screen and (max-width: 768px) {
        display: none;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
    height: 100%;
    flex-wrap: nowrap;
}

.li {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
}

.signInButton {
    @media screen and (max-width: 768px) {
        font-size: 0.6rem;
    }
    font-size: 0.8rem;
    align-self: center;
    font-weight: bold;
    border-radius: 12px;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 10px;
}

.signInButton:hover {
    background-color: var(--primary-dark-color);
}